:root {
    --main-bg-color: #ededed;
    --secondary-bg-color: #b5b4af;
    /*--tertiary-bg-color-a: #002358;
    --tertiary-bg-color-b: #805280;*/
    --tertiary-bg-color-a: #b5b4af;
    --tertiary-bg-color-b: #a1a1a1;
    --img-border-color: #74adc2;
    --nav-bg-color: #151515;
    --main-text-color: black;
    --top-text-color: white;
    --top-highlight-color: white;
    --top-active-color: darkslategrey;
    --base-transition-time: 0.15s;
    --base-font-size: 18px;
}

a:link {
    color: cadetblue;
}

a:visited {
    color: darkorchid;
}

footer {
    margin: 0;
    margin-top: 5%;
    background-color: var(--nav-bg-color);
    color: #b5b4af;
    width: 100%;
    /*display: flex;*/
    overflow: hidden;
    text-align: center;
    padding: 20px 0 20px 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    text-align: center;
}

body {
    margin: 0px;
    font-size: var(--base-font-size); 
    font-family: "Electrolize", Verdana, Arial, sans-serif;
    background-color: var(--secondary-bg-color);
    letter-spacing: 0.05rem;
    font-weight: 200;
}

/* Background for the body */
body {
    background-image: repeating-linear-gradient(45deg, transparent 0, transparent 0 80px, var(--tertiary-bg-color-a) 0, var(--tertiary-bg-color-a) 0 90px), repeating-linear-gradient(-45deg, transparent 0, transparent 0 80px, var(--tertiary-bg-color-b) 0, var(--tertiary-bg-color-b) 0 90px);
}

#path {
    text-align: center;
    margin: none;
}

#path a{
    text-transform: capitalize;
}

p {
    font-family: "Electrolize", Verdana, Arial, sans-serif;
    font-size: var(--base-font-size);
}

.nav {
    padding-top: 0.5em;
}

.nav, .navresponsive {
    font-family: monospace, sans-serif;
    font-size: 24px;
    color: var(--top-text-color);
    background-color: var(--nav-bg-color);
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    min-height: 40px;
}

.nav a, .navresponsive a {
    color: var(--top-text-color);
    text-align: center;
    text-decoration: none;
    padding: 1em;
    border: 2px solid white;
    transition: var(--base-transition-time);
}

.nav a.active, .navresponsive a.active {
    background-color: darkslateblue;
}

.nav a:hover, .navresponsive a:hover, #back:hover {
    color: black;
    background-color: white;
    transition: var(--base-transition-time);
    /*transform: scale(120%);*/
}

.nav img {
    border-radius: 4px;
    object-fit: scale-down;
    width: 20px;
    height: 20px;
}

h1 {
    padding-top: 0%;
    text-align: center;
}

main p, main h1, main h2, main h3, main h4, main h5, main h6, main img, main audio, main label, main iframe {
    margin-top: 0%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

main img {
    /*position: relative;*/
    /*
    top: 0px;
    left: 0px;
    */
    margin: auto;
    margin-bottom: 1%;
    width: 60vw;
    height: auto;
    /*max-width: 60vw;*/
    display: flex;
    justify-content: center;
    align-content: center;
    border: 8px ridge var(--img-border-color);
}

/*iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    height: 90%;
    border: 4px ridge;

}*/

main #back {
    display: block;
    position: relative;
    color: var(--top-text-color);
    background-color: var(--nav-bg-color);
    width: 10%;
    text-align: center;
    padding: 0.5em;
    margin: none;
    border-radius: 8px 0px 8px 0px;
    top: -2.2em;
}

/* Cards for the news page */
.card-container {
    display: flex;
    flex-direction: column;
}

.card-container .card {
    margin: 1% 5% 1% 5%;
    height: 15vh;
    width: 90%;
    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 2px white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 0.25rem solid var(--nav-bg-color);
    border-radius: 8px;
    text-align: left; 
}

.card-container a {
    margin: 5%;    
}

@media screen and (min-width: 1100px) {
    .navToggle {
        display: none;
    }

    main {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2%;
        height: stretch;
        background-color: var(--main-bg-color);
        border-radius: 8px;
        outline: 4px solid;
        min-height: 90vh;
        box-shadow: 8px 8px 8px 8px black;
    }

}

@media screen and (max-width: 1100px) {

    .nav a:not(.navToggle) {
        display: none;
    }

    .card-container .card {
        height: 25vh;
    }

    main {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        background-color: var(--main-bg-color);
        border-radius: 8px;
        height: stretch;
        outline: 4px solid;
        min-height: 90vh;
    }

    .navToggle {
        float: right;
        display: block;
        top: 0;
        right: 0;
    }

    .nav a {
        text-align: center;
        display: inline-block;
    }

    .navresponsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .nav {
        padding-top: 0px;
    }

    main img {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin-left: 0;
        margin-right: 0;
        border: none;
        outline: none;
        background-color: var(--main-bg-color);
        height: stretch;
        min-height: 90vh;
    }

    .card-container .card {
        height: 60vh;
    }

    main img {
        width: 90vw;        
    }

    main #back {
        display: none;
    }

}

/* Block Quotation and unordered list */
blockquote, ul {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

/* Useful stuff */
.centered {
    text-align: center;
    justify-content: center;
}

.noborder {
    border: none;
}

